########################################
# Palindrome CentOS 7 Kickstart Script #
########################################
# - 'nvme0n1' should be at least 40GB  #
# - Add root iscrypted password        #
# - Change network device based on VM  #
########################################
# John Gardner - v1.0 - 01/10/17

# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=nvme0n1
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --hostname=xps15
# Root password
rootpw --iscrypted
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/London --isUtc

# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=nvme0n1
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
